<%- include('partials/header') %>
	<title>All Products</title>
<%- include('partials/nav') %>

<main>
    <div class="main-container">
        <div class="row-2">
            <h2 class="col">All Products</h2>
        </div>

        <form action="/products" method="get" class="needs-validation" id="filter-form">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <label for="productName">Product Name</label>
                    <input type="text" name="productName" id="productName">
                </div>
                <div class="col-md-6 col-lg-3">
                    <label for="minPrice">Minimum Price</label>
                    <input type="text" name="minPrice" id="minPrice">
                </div>
                <div class="col-md-6 col-lg-3">
                    <label for="maxPrice">Maximum Price</label>
                    <input type="text" name="maxPrice" id="maxPrice">
                </div>
                <div class="col-md-6 col-lg-3">
                    <button type="submit" class="btn">Filter</button>
                </div>
            </div>
        </form>

        <div class="text-danger hint">
            <% if (typeof error !='undefined' ) { %>
                <%= error %>
            <% } %>
        </div>

        <div class="row">
        <% if (typeof products !='undefined' ) { %>
            <% for (let i = 0; i < products.length; i++) { %>
                <a href="/products/<%= products[i]._id %>" class="product col-12 col-md-6 col-lg-4">
                    <img src="data:image/<%= products[i].picture.contentType %>;base64,
                    <%= products[i].picture.data.toString('base64') %>" alt="<%= products[i].name %>">
                    <h4><%= products[i].name %></h4>
                    <p>$<%= products[i].price %></p>
                </a>
            <% } %>

            <% if (products.length == 0) { %>
                <div class="empty">
                    <h1>Empty</h1>
                </div>
            <% } %>
        <% } %>
    </div></div>
</main>

<%- include('partials/footer') %>