<!--  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023B
  Assessment: Assignment 2
  Author: Tran Thanh Tung, Nguyen Trung Tin, Le Minh Tan
  ID: s3927562, s3988418, s3911653
  Acknowledgement: RMIT University, COSC2430 Course, Week 1 - 12 Lectures -->
  <%- include('partials/header') %>
	<title>Register</title>
<%- include('partials/nav') %>

<main>
	<div id="form-page">
		<form action="/register" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
			<div class="title">
				<h2>Register</h2>
			</div>

			<!-- Backend validation error -->
			<div class="text-danger hint">
				<% if (typeof error !='undefined' ) { %>
					<%= error %>
				<% } %>
			</div>

			<!-- Shared fields -->
			<div class="item">
				<label for="userType" class="form-label">User Type</label>
				<select name="userType" class="form-select" id="userType" required onchange="registerForm()">
					<option value="" disabled selected>--</option>
					<option value="vendor">Vendor</option>
					<option value="customer">Customer</option>
					<option value="shipper">Shipper</option>
				</select>
				<div class="invalid-feedback">Please select an user type</div>
			</div>

			<div class="item">
				<label for="username" class="form-label">Username</label>
				<input type="text" name="username" class="form-control" id="username" required
					placeholder="Username" minlength="8" maxlength="15" pattern="[a-zA-z0-9]+"
					onchange="registerForm()">
				<div class="hint">Username must be 8-15 alphanumeric characters</div>
			</div>

			<div class="item">
				<label for="password" class="form-label">Password</label>
				<input type="password" name="password" class="form-control" id="password" required
					placeholder="Password" minlength="8" maxlength="20"
					pattern="^(?=[0-9a-zA-Z!@#$%^&*]{8,20}$)(?=[^a-z]*[a-z])(?=[^A-Z]*[A-Z])(?=[^0-9]*[0-9])(?=[^!@#$%^&*]*[!@#$%^&*]).*">
				<div class="hint">
					<div>Password must be 8-20 characters and contains:</div>
					<div>- At least 1 lowercase character</div>
					<div>- At least 1 uppercase character</div>
					<div>- At least 1 digit</div>
					<div>- At least 1 of the following characters !, @, #, $, %, ^, &, *</div>
					<div>- No other kinds of characters</div>
				</div>
			</div>

			<div class="item">
				<label for="profilePicture" class="form-label">Profile Picture</label>
				<input type="file" name="profilePicture" class="form-control" id="profilePicture" required>
				<div class="invalid-feedback">Please select a profile picture</div>
			</div>

			<!-- Vendor fields -->
			<div class="vendor item" hidden>
				<label class="vendor form-label" for="businessName">Business Name</label>
				<input class="vendor form-control" type="text" name="businessName" id="businessName"
					placeholder="Business Name" minlength="5">
				<div class="invalid-feedback">Business name must be at least 5 characters</div>
			</div>

			<div class="vendor item" hidden>
				<label class="vendor form-label" for="businessAddress">Business Address</label>
				<input class="vendor form-control" type="text" name="businessAddress" id="businessAddress"
					placeholder="Business Address" minlength="5">
				<div class="invalid-feedback">Business address must be at least 5 characters</div>
			</div>

			<!-- Customer fields -->
			<div class="customer item" hidden>
				<label class="customer form-label" for="name">Name</label>
				<input class="customer form-control" type="text" name="name" id="name" placeholder="Name"
					minlength="5">
				<div class="invalid-feedback">Name must be at least 5 characters</div>
			</div>

			<div class="customer item" hidden>
				<label class="customer form-label" for="address">Address</label>
				<input class="customer form-control" type="text" name="address" id="address" placeholder="Address"
					minlength="5">
				<div class="invalid-feedback">Address must be at least 5 characters</div>
			</div>

			<!-- Shipper fields -->
			<div class="shipper item" hidden>
				<label class="shipper form-label" for="distributionHub">Distribution Hub</label>
				<select class="shipper form-select" name="distributionHub" id="distributionHub">
					<option value="" disabled selected>--</option>
					<% for (let i = 0; i < possibleDistributionHubs.length; i++) { %>
						<option value="<%= possibleDistributionHubs[i] %>"><%= possibleDistributionHubs[i] %></option>
					<% } %>
				</select>
				<div class="invalid-feedback">Please select a distribution hub</div>
			</div>

			<div>
				<button type="submit" class="btn btn-primary" id="btn-register" disabled>Register</button>
			</div>
		</form>
	</div>
</main>

<script src="/js/registerForm.js"></script>
<script src="/js/formValidate.js"></script>
<%- include('partials/footer') %>